@model tictactoeweb.Models.User

<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
    </head>
    <body>
        <p>SUCCESS</p>
        <div>
            <p>Id: @Model.Id </p>
            <p>Username: @Model.Username </p>
            <p>Password: @Model.Password </p>
        </div>
    </body>
</html>