body .main-container {
    margin: 100px 300px;
    justify-content: center;
    background-color: #1F1F1F;
    border-radius: 10px;
}

body .main-container .content {
    margin: 100px 150px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.head-container {
    justify-content: center;
}

header.head-container .log-buttons a {
    margin: 30px 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

body section .section-container {
    margin: 100px 300px;
    background-color: #1F1F1F;
    border-radius: 20px;
}

body section .section-container .find-title, .find-button {
    justify-content: center;
}

body section .section-container .find-button form.find-game input[type="submit"] {
    margin: 50px 0;
     background-color: #606060;
    border: #606060 solid 10px;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 70px;
}

body section .section-container .find-button form.find-game input[type="submit"]:hover {
    cursor: pointer;
    background-color: #414141;
    border: #414141 solid 10px;
}

body section .section-container .find-title p {
    font-size: 35px;
    color: white;
}