@model tictactoeweb.Models.MainModels.User;

<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
    <link rel="stylesheet" href="~/css/index.css" />
    </head>
    <body>
        <header class="head-container d-flex">
        <div class="log-buttons d-flex">
            <a asp-controller="Game" asp-action="Profile"><p>Username: @Model.Username</p></a>
            <a asp-controller="Authorization" asp-action="Logout">Logout</a>
            </div>
        </header>
        <section>
            <div class="section-container">
                <div class="find-title d-flex">
                    <p>Find Game</p>
                    </div>
                    <div class="find-button d-flex">
                <form class="find-game" asp-controller="Game" asp-action="FindGame" method="get">
                    <input type="submit" value="FIND GAME" />
                </form>
                    </div>
                
            </div>
        </section>
    </body>
</html>