@model tictactoeweb.Models.MainModels.User;

<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="~/css/findgame.css" />
</head>
<body>
    <section>
        <div class="section-container">
            <div class="find-title d-flex">
                <p>Searching for players...</p>
            </div>
            <div class="find-title d-flex">
                <p id="playersCount"></p>
            </div>
        </div>

        <form id="gameStart" asp-controller="Game" asp-action="StartGame" method="post">
            <input type="text" id="routeRoomId" name="sendRoomId" style="display:none;" />
            <input type="submit" id="sendBtn" style="display:none;"/>
        </form>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>


        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/search")
            .build();

        hubConnection.start()
            .then(function () {

            console.log("Connected to the hub.");

                hubConnection.on("PlayerJoin", function (playersCountServer) {
                    const playersCountTitle = document.getElementById("playersCount");

                    playersCountTitle.textContent = `${playersCountServer}/2`;

                    console.log("players: " + playersCountServer);
                });

                hubConnection.on("PlayersReady", async function (roomId) {

                    console.log("received: " + roomId);

                    let formElem = document.getElementById("gameStart");
                    let hiddenInput = document.getElementById("routeRoomId");

                    if (hiddenInput) {
                        hiddenInput.value = roomId;
                        formElem.submit(); 
                    } else {
                        console.error("Hidden input field is not found!");
                    }
                });

            hubConnection.invoke("AddPlayerToList", '@Model.Id')
                .then(function () {
                    console.log("player added " + '@Model.Id');
                })
        }).catch(function (err) {
            return console.error(err.toString());
        });

    </script>
</body>
</html>