<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <section>
        <div class="section-container">
            <div class="find-title d-flex">
                <p>Searching for players...</p>
            </div>
        </div>
    </section>
</body>
</html>